@charset "UTF-8";

/*=============================================================================
# mixin
=============================================================================*/

/*=============================================================================
# color
=============================================================================*/

/*=============================================================================
# common 全体に共通するスタイル
=============================================================================*/

@media screen and (max-width: 767px) {
  .is-pc {
    display: none;
  }
}

@media screen and (min-width: 768px) {
  .is-sp {
    display: none;
  }
}

body {
  background-color: #f3f3f3;
  color: #2D2D32;
  width: 100%;
  margin: auto;
}

.container {
  width: 95%;
  margin-right: auto;
  margin-left: auto;
}

.title {
  text-align: center;
  padding-top: 140px;
  font-size: 25px;
  position: relative;
}

.title:after {
  content: "";
  position: absolute;
  left: 50%;
  top: 105%;
  transform: translateX(-50%);
  width: 80px;
  height: 3px;
  background-color: #fecf8d;
}

@media screen and (max-width: 767px) {
  .title {
    padding-top: 100px;
  }
}

.btn {
  -webkit-appearance: none;
  background-color: #fecf8d;
  background-image: none;
  border: none;
  border-radius: 0;
  color: #FFFF;
  cursor: pointer;
  display: block;
  margin: 0 0 1em;
  padding: 0.6em 2em;
  text-decoration: none;
  width: 137px;
  height: 46px;
  margin-left: auto;
  margin-right: auto;
  font-weight: 600;
  box-shadow: 0px 3px 5px #60606029;
}

.btn:focus {
  outline: none;
}

.btn::-moz-foucus-inner {
  border: none;
  padding: 0;
}

a {
  text-decoration: none;
  color: #000000;
}

.validation-alert {
  color: crimson;
  font-size: 12px;
  margin-top: 10px;
  text-align: left;
}

@media screen and (max-width: 767px) {
  .validation-alert {
    margin-left: 30px;
  }
}

/*==================================================================
# Form
==================================================================*/

/*==================================================================
# form-item-title
==================================================================*/

.form_item-title {
  background-color: #fecf8d;
  color: #FFFF;
  position: relative;
  border: none;
  text-align: center;
  padding: 15px;
  z-index: 5;
  font-size: 13px;
  line-height: 20px;
  width: 150px;
  height: 50px;
}

@media screen and (max-width: 767px) {
  .form_item-title {
    display: block;
    margin-left: 5%;
    margin-right: auto;
    padding: 8px;
    line-height: 25px;
    height: 40px;
  }
}

.form_item-title::after {
  content: "";
  position: absolute;
  top: 0;
  right: -8px;
  border-left: #fecf8d solid 8px;
  border-top: solid 25px transparent;
  border-bottom: solid 25px transparent;
}

@media screen and (max-width: 767px) {
  .form_item-title::after {
    display: none;
  }
}

.form_input {
  margin-bottom: 10px;
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  background-color: #FFFF;
  background-image: none;
  border: none;
  border-radius: 2px;
  color: inherit;
  font-family: inherit;
  font-size: 1em;
  padding: 0.4em 0.8em;
  box-shadow: 5px 6px 15px #60606029;
  width: 320px;
  height: 40px;
}

.form_input:focus {
  border: 1px solid rgba(0, 0, 0, 0.32);
  box-shadow: 5px 6px 15px #60606029;
  outline: none;
}

@media screen and (max-width: 767px) {
  .form_input {
    width: 90%;
  }
}

.is-validated {
  background-color: #e5b7be;
  border-color: red;
}

/*==================================================================
#〜area部分
==================================================================*/

.form_area {
  display: flex;
  margin-top: 30px;
}

@media screen and (max-width: 767px) {
  .form_area {
    display: block;
  }
}

/*==================================================================
#form_area-wrapper部分
==================================================================*/

.form_area-wrapper {
  margin-left: 40px;
}

@media screen and (max-width: 767px) {
  .form_area-wrapper {
    margin-left: 0px;
  }
}

/*==================================================================
# header
==================================================================*/

.header {
  height: auto;
  width: 100%;
  background-color: #f3f3f3;
  box-shadow: 0px 3px 4px rgba(0, 0, 0, 0.2);
  position: fixed;
  z-index: 20;
}

@media screen and (max-width: 767px) {
  .header {
    height: auto;
  }
}

.header-logo {
  background-image: url(/img/logo.png);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
  width: 280px;
  height: 80px;
  margin: 10px;
}

@media screen and (max-width: 767px) {
  .header-logo {
    width: 120px;
    height: 50px;
  }
}

.header-wrapper {
  display: flex;
}

.header-items-wrapper {
  display: flex;
  margin-right: 50px;
  margin-left: auto;
}

.nav-wrapper {
  margin: auto;
}

.nav-list {
  display: none;
  position: absolute;
  top: 100;
}

.ac-btn {
  margin-top: 0;
  position: relative;
}

.ac-btn,
.header-nav {
  font-size: 14px;
  width: 120px;
  height: 40px;
  background-color: #fecf8d;
  color: #FFF;
  text-align: center;
  margin-left: 20px;
  padding-top: 12px;
  box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.2);
  display: block;
}

.ac-btn a,
.header-nav a {
  color: #FFFF;
}

.header-active {
  display: none;
}

.header-btn {
  width: 120px;
  height: 40px;
  background-color: #fecf8d;
  color: #FFF;
  text-align: center;
  margin: auto;
  padding-top: 12px;
  box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.2);
}

/*==================================================================
# ドロワー
==================================================================*/

.drawer-icon {
  position: fixed;
  top: 15px;
  right: 15px;
  z-index: 300;
  display: none;
  transition: transform 0.5s ease 0.3s;
}

@media screen and (max-width: 767px) {
  .drawer-icon {
    display: block;
  }
}

.drawer-icon.active_icon {
  transform: translateX(-180px);
}

.drawer-icon.active_icon .drawer_icon-bar1 {
  transform: rotate(-45deg);
  top: 8px;
  background-color: #fecf8d;
}

.drawer-icon.active_icon .drawer_icon-bar2 {
  display: none;
}

.drawer-icon.active_icon .drawer_icon-bar3 {
  transform: rotate(45deg);
  top: 8px;
  background-color: #fecf8d;
}

.drawer_icon-bars {
  width: 30px;
  height: 20px;
  display: block;
  position: relative;
}

.drawer_icon-bar1,
.drawer_icon-bar2,
.drawer_icon-bar3 {
  position: absolute;
  width: 26px;
  height: 4px;
  background-color: #fecf8d;
  top: 0;
  left: 0;
  border-radius: 4px;
}

.drawer_icon-bar1 {
  top: 0;
}

.drawer_icon-bar2 {
  top: 8px;
}

.drawer_icon-bar3 {
  top: 16px;
}

.drawer-content {
  width: 180px;
  height: 100%;
  position: fixed;
  z-index: 301;
  right: 0;
  top: 0;
  background-color: #fecf8d;
  transform: translateX(105%);
  transition: transform 0.5s ease 0s;
}

.drawer-content.active_icon {
  transform: translateX(0);
}

.drawer-content_items {
  margin-top: 129px;
}

.drawer-nav {
  display: block;
  color: #FFFF;
  height: 22px;
  font-size: 16px;
  line-height: 22px;
  display: block;
  margin-top: 32px;
  text-align: center;
}

.drawer-back-ground {
  background-color: #3e3e3e;
  opacity: 0.7;
  width: 100%;
  height: 800px;
  position: absolute;
  top: 0;
  display: none;
}

.drawer-back-ground.active_icon {
  display: block;
}

/*==================================================================
# footer
==================================================================*/

.copyright {
  margin-top: 100px;
  height: 50px;
  background-color: #fecf8d;
  padding: 30px;
  color: #FFFF;
  text-align: right;
}

/*==================================================================
# index
==================================================================*/

/*==================================================================
# top
==================================================================*/

.top {
  padding-top: 100px;
}

@media screen and (max-width: 767px) {
  .top {
    padding-top: 50px;
  }
}

.swiper-container {
  width: 100%;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  overflow: hidden;
  list-style: none;
  padding: 0;
  /* Fix of Webkit flickering */
  z-index: 1;
}

@media screen and (max-width: 767px) {
  .swiper-container {
    width: 100%;
  }
}

.swiper-slide {
  text-align: center;
  line-height: 1;
  align-items: flex-start;
  justify-content: center;
}

.swiper-img {
  max-width: 600px;
  height: auto;
  padding-left: auto;
  padding-right: auto;
}

@media screen and (max-width: 767px) {
  .swiper-img {
    max-width: 100%;
    max-height: 437px;
  }
}

.swiper-container,
.swiper-initialized,
.swiper-horizontal,
.swiper-pointer-events {
  margin-left: auto;
  margin-right: auto;
}

.swiper-item {
  padding: 15px;
  width: 77%;
  height: 100px;
  line-height: 25px;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (max-width: 767px) {
  .swiper-item {
    font-size: 12px;
    height: auto;
  }
}

/*==================================================================
#search
==================================================================*/

.search {
  margin-top: 50px;
  background-color: #fecf8d;
  max-width: 550px;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (max-width: 767px) {
  .search {
    max-width: 300px;
  }
}

.search-items {
  padding: 1em;
  box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.2);
}

.search-items-wrapper {
  display: flex;
  justify-content: space-between;
  width: auto;
}

@media screen and (max-width: 767px) {
  .search-items-wrapper {
    display: block;
    max-width: 200px;
    margin-left: auto;
    margin-right: auto;
  }
}

@media screen and (max-width: 767px) {
  .keyword,
  .category {
    max-width: 160px;
    margin-right: auto;
    margin-left: auto;
  }
}

.keyword-title,
.category-title {
  margin-bottom: 5px;
  color: #FFFF;
  font-size: 13px;
}

@media screen and (max-width: 767px) {
  .category-title {
    margin-top: 5px;
  }
}

.keyword-box {
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  background-color: #FFFF;
  background-image: none;
  border: 1px solid rgba(0, 0, 0, 0.16);
  border-radius: 0;
  color: inherit;
  font-family: inherit;
  font-size: 1em;
  padding: 0.4em 0.8em;
  width: 100%;
  height: 30px;
}

.category-select {
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  background: transparent url(https://haniwaman.com/cms/wp-content/uploads/2018/12/form-css-arrow.png) no-repeat center right 8px/16px 16px;
  border: 1px solid rgba(0, 0, 0, 0.16);
  background-color: #FFFF;
  border-radius: 0;
  color: inherit;
  cursor: pointer;
  font-family: inherit;
  font-size: 1em;
  padding: 0.4em 0.8em;
  width: 9em;
  height: 30px;
}

@media screen and (max-width: 767px) {
  .category-select {
    width: 100%;
  }
}

.category-select::-ms-expand {
  display: none;
}

.category-select:focus {
  border: 1px solid rgba(0, 0, 0, 0.32);
  box-shadow: none;
  outline: none;
}

.search-btn {
  -webkit-appearance: none;
  background-color: #f6f0cc;
  background-image: none;
  border: none;
  border-radius: 0;
  color: #2D2D32;
  cursor: pointer;
  display: block;
  font-size: 1em;
  margin: 0.8em 0 0.3em;
  padding: 0.1em 2em;
  text-decoration: none;
  box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.2);
}

@media screen and (max-width: 767px) {
  .search-btn {
    margin-left: auto;
    margin-right: auto;
  }
}

.search-btn:hover,
.search-btn:focus {
  outline: none;
}

.search-btn::-moz-focus-inner {
  border: none;
  padding: 0;
}

/*==================================================================
# article
==================================================================*/

.article {
  margin-top: 50px;
  background-color: #f3f3f3;
}

.article-container_1,
.article-container_2 {
  display: flex;
  margin-left: auto;
  margin-right: auto;
  flex-wrap: wrap;
  max-width: 1000px;
  justify-content: space-around;
}

@media screen and (max-width: 767px) {
  .article-container_1,
  .article-container_2 {
    display: block;
    max-width: 330px;
  }
}

.article-wrapper {
  width: 30%;
  margin: 0px 8px 15px 8px;
  position: relative;
}

@media screen and (max-width: 767px) {
  .article-wrapper {
    width: 100%;
    margin: 0px 0px 15px 0px;
    display: flex;
  }
}

.linkshow {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 5;
}

@media screen and (max-width: 767px) {
  .linkshow {
    bottom: 30px;
  }
}

.article-body {
  background-color: #f0f0e3;
  padding: 20px;
  padding-bottom: 10px;
  margin-left: auto;
  margin-right: auto;
  height: 250px;
  box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.2);
}

@media screen and (max-width: 767px) {
  .article-body {
    margin-left: 0px;
    margin-right: 0;
    height: 170px;
    padding: 8px 5px 0px 5px;
    min-width: 110px;
  }
}

.article-img-wrapper {
  align-items: flex-end;
  height: 230px;
  width: 100%;
  display: inline-flex;
}

@media screen and (max-width: 767px) {
  .article-img-wrapper {
    height: 170px;
    max-width: 230px;
  }
}

.article-img {
  width: 100%;
  background-color: #f0f0e3;
}

@media screen and (max-width: 767px) {
  .article-img {
    margin-right: 0;
    box-shadow: 0px 10px 10px #3E3E3E33;
  }
}

.article-img img {
  max-width: 330px;
  width: 100%;
  height: 200px;
  -o-object-fit: contain;
     object-fit: contain;
}

@media screen and (max-width: 767px) {
  .article-img img {
    max-height: 170px;
    width: auto;
    max-width: 230px;
  }
}

.recipe-title {
  font-size: 20px;
}

@media screen and (max-width: 767px) {
  .recipe-title {
    margin-left: 10px;
    font-size: 14px;
  }
}

.article-items {
  display: flex;
}

@media screen and (max-width: 767px) {
  .article-items {
    display: block;
  }
}

.article-item-category,
.article-item-keyword {
  margin-top: 10px;
  border-radius: 5px;
  border: 1px;
  width: auto;
  height: auto;
  background-color: #FFAA3B;
  border-radius: 10px;
  font-size: 10px;
  color: #FFF;
  padding: 8px 8px;
  display: block;
}

@media screen and (max-width: 767px) {
  .article-item-category,
  .article-item-keyword {
    font-size: 8px;
    align-items: center;
    text-align: center;
    padding: 8px 5px;
  }
}

.article-item-category {
  margin-right: 15px;
}

@media screen and (max-width: 767px) {
  .article-item-category {
    margin-right: 0px;
  }
}

.article-text {
  margin-top: 15px;
  max-width: 330px;
  height: 80px;
  padding: 12px;
  background-color: #f3f3f3;
  border-radius: 10px;
  font-size: 12px;
  text-overflow: ellipsis;
  max-height: 100px;
  overflow: scroll;
  box-shadow: 0px 3px 5px #3E3E3E33;
  margin-right: auto;
  margin-left: auto;
}

@media screen and (max-width: 767px) {
  .article-text {
    width: 90%;
  }
}

.article-user-name-title {
  margin-top: 10px;
  font-size: 13px;
}

@media screen and (max-width: 767px) {
  .article-user-name-title {
    font-size: 8px;
  }
}

.article-datetime-title,
.article-datetime-name {
  margin-top: 2px;
  font-size: 12px;
}

@media screen and (max-width: 767px) {
  .article-datetime-title,
  .article-datetime-name {
    font-size: 5px;
    line-height: 10px;
  }
}

.article-footer {
  width: 100%;
  margin-top: 5px;
  margin-right: 0px;
  margin-left: auto;
}

@media screen and (max-width: 767px) {
  .article-footer {
    margin-right: auto;
  }
}

.article-footer-item {
  margin-right: 0px;
  margin-left: auto;
  margin-top: 5px;
  width: 70%;
  text-align: right;
  position: relative;
}

@media screen and (max-width: 767px) {
  .article-footer-item {
    display: flex;
    width: 100%;
  }
}

.edit-item,
.delete-item {
  font-size: 13px;
  background: rgba(0, 0, 0, 0);
  cursor: pointer;
  position: absolute;
  z-index: 25;
}

@media screen and (max-width: 767px) {
  .edit-item,
  .delete-item {
    font-size: 8px;
    margin-top: 11px;
    margin-left: 2px;
  }
}

.edit-item {
  right: 55px;
}

@media screen and (max-width: 767px) {
  .edit-item {
    right: 50px;
  }
}

.delete-item {
  right: 5px;
  top: 0px;
}

@media screen and (max-width: 767px) {
  .delete-item {
    right: 10px;
  }
}

.page-nation {
  margin-top: 80px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.nation-wrapper {
  width: auto;
}

.nation-wrapper a {
  margin-right: 15px;
  background-color: #fecf8d;
  color: #FFFF;
  padding: 0.5em;
}

.page-item {
  width: 20px;
  display: inline-block;
  align-items: center;
  margin-left: 20px;
}

/*==================================================================
#create
==================================================================*/

.create-title {
  padding-top: 140px;
  text-align: center;
  font-size: 25px;
  position: relative;
}

.create-title:after {
  content: "";
  position: absolute;
  left: 50%;
  top: 180px;
  transform: translateX(-50%);
  width: 80px;
  height: 3px;
  background-color: #fecf8d;
}

.create-form-wrapper {
  max-width: 700px;
  width: 100%;
  margin-top: 50px;
  margin-right: auto;
  margin-left: auto;
  text-align: center;
}

.create-form-wrapper .alert {
  color: #E7728E;
  font-size: 20px;
  position: absolute;
  top: 7;
}

.create-alert {
  margin-bottom: 50px;
  font-size: 12px;
}

/*以下form部分*/

/*==================================================================
#〜area-wrapper部分
==================================================================*/

.create-form_category-area-wrapper,
.create-radio_wrapper {
  margin-left: 40px;
}

@media screen and (max-width: 767px) {
  .create-form_category-area-wrapper,
  .create-radio_wrapper {
    margin-left: 0px;
  }
}

.create-form_reaction-area-wrapper {
  margin-top: 10px;
  text-align: left;
  margin-left: -10px;
}

@media screen and (max-width: 767px) {
  .create-form_reaction-area-wrapper {
    display: block;
  }
}

/*==================================================================
#テキストエリア
==================================================================*/

.create-form_summary {
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  background-color: #FFFF;
  background-image: none;
  border: 1px solid rgba(0, 0, 0, 0.16);
  border-radius: 0;
  color: inherit;
  font-family: inherit;
  font-size: 1em;
  height: 100px;
  padding: 0.4em 0.8em;
  width: 320px;
}

@media screen and (max-width: 767px) {
  .create-form_summary {
    width: 90%;
  }
}

.create-form_summary:focus {
  border: 1px solid rgba(0, 0, 0, 0.32);
  box-shadow: none;
  outline: none;
}

/*==================================================================
# バリデーション（記入前）
==================================================================*/

.create-form-item {
  text-align: left;
  font-size: 11px;
}

@media screen and (max-width: 767px) {
  .create-form-item {
    margin-left: 5%;
  }
}

/*==================================================================
# ラジオボタン
==================================================================*/

.radio_item-wrapper {
  justify-content: space-around;
  text-align: left;
  margin-top: 10px;
  font-size: 14px;
}

.create-radio_wrapper {
  text-align: left;
  font-size: 14px;
}

.create-radio_wrapper label {
  width: 50%;
}

@media screen and (max-width: 767px) {
  .create-radio_wrapper label {
    font-size: 14px;
    margin-left: 5%;
  }
}

.form_select,
.form_reaction-select {
  display: none;
}

.form_select + span,
.form_reaction-select + span {
  cursor: pointer;
  display: inline-block;
  margin: 0 0.2em 0;
  position: relative;
  padding: 0 0 0 1.2em;
}

.form_select + span::before {
  -webkit-transform: translateY(-50%);
  background: #FFFF;
  border: 1px solid #FFFF;
  border-radius: 2px;
  content: "";
  display: block;
  height: 1em;
  left: 0;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 1em;
}

@media screen and (max-width: 767px) {
  .form_select + span::before {
    width: 0.5em;
    height: 0.5em;
  }
}

.form_select + span::after {
  -webkit-transform: translateY(-50%) rotate(-45deg);
  border-bottom: 3px solid #fecf8d;
  border-left: 3px solid #fecf8d;
  content: "";
  display: block;
  height: 0.6em;
  left: 0;
  margin-top: -0.2em;
  opacity: 0;
  position: absolute;
  top: 50%;
  transform: translateY(-50%) rotate(-45deg);
  transition: all 0.3s ease 0s;
  width: 1em;
}

.form_reaction-select + span::after {
  border-bottom: 3px solid #fecf8d;
  content: "";
  display: block;
  height: 0.5em;
  left: 20px;
  margin-top: -0.2em;
  opacity: 0;
  position: absolute;
  top: 90%;
  transition: all 0.2s ease 0s;
  width: 85%;
}

.form_select:checked + span::after,
.form_reaction-select:checked + span::after {
  opacity: 1;
}

.reaction-icon::before {
  font-size: 1.8em;
  margin-left: -15px;
  padding-right: 10px;
}

@media screen and (max-width: 767px) {
  .reaction-icon::before {
    font-size: 1.5em;
  }
}

/*=========================================================
評価グラフ
=========================================================*/

.rating-graph_wrapper {
  margin-left: 30px;
  margin-top: 15px;
  display: flex;
}

@media screen and (max-width: 767px) {
  .rating-graph_wrapper {
    margin-top: 25px;
    max-width: 80%;
  }
}

.rating-graph_axis {
  position: relative;
  margin-left: -20px;
  justify-content: space-between;
}

@media screen and (max-width: 767px) {
  .rating-graph_axis {
    margin-left: auto;
    margin-right: 0;
  }
}

.rating-graph_axis:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 85%;
  height: 5px;
  margin-left: 23px;
  background-color: #fecf8d;
}

@media screen and (max-width: 767px) {
  .rating-graph_axis:after {
    margin-left: 10px;
    width: 80%;
  }
}

.rating-graph_scale {
  display: none;
}

.rating-graph_scale + span {
  cursor: pointer;
  display: inline-block;
  margin: 0 0.2em 0;
  position: relative;
  padding: 0 0 0 1.2em;
}

.rating-graph_scale + span:before {
  content: "";
  border-radius: 50%;
  background-color: #fecf8d;
  width: 25px;
  height: 25px;
  position: absolute;
  bottom: 20px;
  left: 28px;
}

@media screen and (max-width: 767px) {
  .rating-graph_scale + span:before {
    width: 15px;
    height: 15px;
    bottom: 20px;
    left: 15px;
  }
}

.rating-graph_scale + span:after {
  content: "";
  border-radius: 50%;
  background-color: #f6f0cc;
  width: 15px;
  height: 15px;
  position: absolute;
  bottom: 25px;
  left: 33px;
  opacity: 0;
  z-index: 20;
}

@media screen and (max-width: 767px) {
  .rating-graph_scale + span:after {
    width: 10px;
    height: 10px;
    bottom: 22px;
    left: 17.5px;
  }
}

.rating-graph_scale:checked + span::after {
  opacity: 1;
}

.rating-graph_scale_item {
  position: absolute;
  top: 55%;
  right: 5%;
  width: 3.5em;
}

@media screen and (max-width: 767px) {
  .rating-graph_scale_item {
    width: 2.6em;
    font-size: 13px;
    top: 80%;
    right: 10%;
  }
}

.rating-graph_basis {
  margin-left: 10px;
}

/*=========================================================
送信ボタン
=========================================================*/

.create-form_sent-area-wrapper {
  margin-top: 50px;
}

.create-form_back {
  margin-top: 30px;
}

/*==================================================================
# useredit
==================================================================*/

.useredit-form-wrapper {
  max-width: 500px;
  width: 80%;
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.useredit-pass-item {
  margin-left: 0px;
  margin-top: 15px;
}

@media screen and (max-width: 767px) {
  .useredit-pass-item {
    margin-top: 20px;
  }
}

/*=========================================================
送信ボタン
=========================================================*/

.useredit-form_sent-area {
  margin-top: 50px;
  width: auto;
  display: block;
}

.useredit-btn-wrapper {
  display: flex;
  max-width: 400px;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (max-width: 767px) {
  .useredit-btn-wrapper {
    display: block;
  }
}

.useredit-form_sent {
  -webkit-appearance: none;
  background-color: #fecf8d;
  background-image: none;
  border: none;
  border-radius: 0;
  color: #FFFF;
  cursor: pointer;
  display: block;
  margin: 0 0 1em;
  padding: 0.6em 2em;
  text-decoration: none;
  width: 137px;
  height: 46px;
  margin-left: auto;
  margin-right: auto;
  font-weight: 600;
  box-shadow: 0px 3px 5px #60606029;
}

.useredit-form_sent:focus {
  outline: none;
}

.useredit-form_sent::-moz-foucus-inner {
  border: none;
  padding: 0;
}

.useredit-btn-area {
  margin-top: 50px;
  margin-left: 30px;
  display: block;
}

@media screen and (max-width: 767px) {
  .useredit-btn-area {
    margin-left: 0px;
    margin-top: 30px;
  }
}

.useredit-back-btn {
  -webkit-appearance: none;
  background-color: #fecf8d;
  background-image: none;
  border: none;
  border-radius: 0;
  color: #FFFF;
  cursor: pointer;
  display: block;
  font-size: 1em;
  padding: 0.8em 2em;
  text-decoration: none;
  width: 137px;
  height: 46px;
  font-weight: 600;
  box-shadow: 0px 3px 5px #60606029;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

/*==================================================================
#edit
==================================================================*/

.edit-title {
  padding-top: 140px;
  text-align: center;
  font-size: 25px;
  position: relative;
}

.edit-title:after {
  content: "";
  position: absolute;
  left: 50%;
  top: 180px;
  transform: translateX(-50%);
  width: 80px;
  height: 3px;
  background-color: #fecf8d;
}

.edit-form-wrapper {
  max-width: 700px;
  width: 100%;
  margin-top: 50px;
  margin-right: auto;
  margin-left: auto;
  text-align: center;
}

.edit-form-wrapper .alert {
  color: #E7728E;
  font-size: 20px;
  position: absolute;
  top: 7;
}

.edit-alert {
  margin-bottom: 50px;
}

/*以下form部分*/

/*==================================================================
#〜area-wrapper部分
==================================================================*/

.edit-form_article-keyword-area-wrapper,
.edit-radio_wrapper {
  margin-left: 40px;
}

@media screen and (max-width: 767px) {
  .edit-form_article-keyword-area-wrapper,
  .edit-radio_wrapper {
    margin-left: 0px;
  }
}

.edit-form_reaction-area-wrapper {
  margin-top: 10px;
  text-align: left;
  margin-left: -10px;
}

@media screen and (max-width: 767px) {
  .edit-form_reaction-area-wrapper {
    display: block;
  }
}

/*==================================================================
#テキストエリア
==================================================================*/

.edit-form_summary {
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  background-color: #FFFF;
  background-image: none;
  border: 1px solid rgba(0, 0, 0, 0.16);
  border-radius: 0;
  color: inherit;
  font-family: inherit;
  font-size: 1em;
  height: 100px;
  padding: 0.4em 0.8em;
  width: 320px;
}

@media screen and (max-width: 767px) {
  .edit-form_summary {
    width: 90%;
  }
}

.edit-form_summary:focus {
  border: 1px solid rgba(0, 0, 0, 0.32);
  box-shadow: none;
  outline: none;
}

/*==================================================================
# バリデーション（記入前）
==================================================================*/

.edit-form-item {
  text-align: left;
  font-size: 11px;
}

@media screen and (max-width: 767px) {
  .edit-form-item {
    margin-left: 5%;
  }
}

/*==================================================================
# ラジオボタン
==================================================================*/

.radio_item-wrapper {
  justify-content: space-around;
  text-align: left;
  margin-top: 10px;
  font-size: 14px;
}

.edit-radio_wrapper {
  text-align: left;
  font-size: 14px;
}

.edit-radio_wrapper label {
  width: 50%;
}

@media screen and (max-width: 767px) {
  .edit-radio_wrapper label {
    font-size: 14px;
    margin-left: 5%;
  }
}

.form_select,
.form_reaction-select {
  display: none;
}

.form_select + span,
.form_reaction-select + span {
  cursor: pointer;
  display: inline-block;
  margin: 0 0.2em 0;
  position: relative;
  padding: 0 0 0 1.2em;
}

.form_select + span::before {
  -webkit-transform: translateY(-50%);
  background: #FFFF;
  border: 1px solid #FFFF;
  border-radius: 2px;
  content: "";
  display: block;
  height: 1em;
  left: 0;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 1em;
}

@media screen and (max-width: 767px) {
  .form_select + span::before {
    width: 0.5em;
    height: 0.5em;
  }
}

.form_select + span::after {
  -webkit-transform: translateY(-50%) rotate(-45deg);
  border-bottom: 3px solid #fecf8d;
  border-left: 3px solid #fecf8d;
  content: "";
  display: block;
  height: 0.6em;
  left: 0;
  margin-top: -0.2em;
  opacity: 0;
  position: absolute;
  top: 50%;
  transform: translateY(-50%) rotate(-45deg);
  transition: all 0.3s ease 0s;
  width: 1em;
}

.form_reaction-select + span::after {
  border-bottom: 3px solid #fecf8d;
  content: "";
  display: block;
  height: 0.5em;
  left: 20px;
  margin-top: -0.2em;
  opacity: 0;
  position: absolute;
  top: 90%;
  transition: all 0.2s ease 0s;
  width: 85%;
}

.form_select:checked + span::after,
.form_reaction-select:checked + span::after {
  opacity: 1;
}

.reaction-icon::before {
  font-size: 1.8em;
  margin-left: -15px;
  padding-right: 10px;
}

@media screen and (max-width: 767px) {
  .reaction-icon::before {
    font-size: 1.5em;
  }
}

/*=========================================================
送信ボタン
=========================================================*/

.edit-form_sent-area-wrapper {
  margin-top: 50px;
}

.edit-form_back {
  margin-top: 30px;
}

/*==================================================================
# login
==================================================================*/

.login-form-wrapper {
  max-width: 500px;
  width: 80%;
  margin-top: 50px;
  margin-right: auto;
  margin-left: auto;
  text-align: center;
}

.login-form-wrapper span {
  color: #E7728E;
  font-size: 20px;
  position: absolute;
  top: 7;
}

/*=========================================================
フォーム
=========================================================*/

.login-form_email,
.login-form_pass {
  margin-left: 40px;
}

@media screen and (max-width: 767px) {
  .login-form_email,
  .login-form_pass {
    margin-left: 0;
  }
}

/*=========================================================
送信ボタン
=========================================================*/

.login-form_sent-area {
  margin-top: 80px;
}

/*==================================================================
# mypage
==================================================================*/

/*=========================================================
item
=========================================================*/

.mypage-item-wrapper {
  width: auto;
  max-width: 80%;
  margin-top: 80px;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (max-width: 767px) {
  .mypage-item-wrapper {
    max-width: 80%;
    margin-top: 50px;
  }
}

.mypage_item-title {
  background-color: #fecf8d;
  color: #FFFF;
  position: relative;
  border: none;
  text-align: center;
  padding: 15px;
  z-index: 5;
  font-size: 13px;
  line-height: 20px;
  width: 150px;
  height: 50px;
}

@media screen and (max-width: 767px) {
  .mypage_item-title {
    display: block;
    padding: 8px;
    line-height: 25px;
    height: 40px;
    margin-left: auto;
    margin-right: auto;
  }
}

.mypage_item-title::after {
  content: "";
  position: absolute;
  top: 0;
  right: -8px;
  border-left: #fecf8d solid 8px;
  border-top: solid 25px transparent;
  border-bottom: solid 25px transparent;
}

@media screen and (max-width: 767px) {
  .mypage_item-title::after {
    display: none;
  }
}

.mypage_name-area,
.mypage_email-area {
  display: flex;
  margin-top: 30px;
  max-width: 500px;
  margin-left: 25%;
  margin-right: auto;
}

@media screen and (max-width: 767px) {
  .mypage_name-area,
  .mypage_email-area {
    display: block;
    margin-left: auto;
  }
}

.mypage_name,
.mypage_email {
  margin-left: 30px;
  margin-top: 10px;
}

@media screen and (max-width: 767px) {
  .mypage_name,
  .mypage_email {
    margin-left: 0;
    text-align: center;
  }
}

/*=========================================================
送信ボタン
=========================================================*/

.mypage_btn-area {
  margin-top: 100px;
  display: flex;
  margin-left: auto;
  margin-right: auto;
  max-width: 300px;
}

@media screen and (max-width: 767px) {
  .mypage_btn-area {
    margin-top: 70px;
  }
}

.mypage-back-btn,
.mypage-edit-btn {
  -webkit-appearance: none;
  background-color: #fecf8d;
  background-image: none;
  border: none;
  border-radius: 0;
  color: #FFFF;
  cursor: pointer;
  display: block;
  font-size: 1em;
  padding: 0.8em 2em;
  text-decoration: none;
  width: 137px;
  height: 46px;
  text-align: center;
  font-weight: 600;
  box-shadow: 0px 3px 5px #60606029;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (max-width: 767px) {
  .mypage-back-btn,
  .mypage-edit-btn {
    font-size: 0.8em;
    padding: 1.1em 1.5em;
    width: 100px;
    height: 40px;
  }
}

.mypage-edit-btn {
  margin-left: 40px;
}

@media screen and (max-width: 767px) {
  .mypage-edit-btn {
    margin-left: 30px;
  }
}

/*==================================================================
#register
==================================================================*/

.register-alert {
  font-size: 12px;
  margin-bottom: 50px;
}

.register-form-wrapper {
  max-width: 500px;
  width: 80%;
  margin-top: 50px;
  margin-right: auto;
  margin-left: auto;
  text-align: center;
  position: relative;
}

.register-form-wrapper span {
  color: #E7728E;
  font-size: 20px;
  position: absolute;
  top: 7;
}

/*=========================================================
送信ボタン
=========================================================*/

.register-form_sent-area {
  margin-top: 80px;
}

/*==================================================================
# show
==================================================================*/

.show-title {
  text-align: center;
  padding-top: 140px;
  font-size: 25px;
  position: relative;
}

.show-title:after {
  content: "";
  position: absolute;
  left: 50%;
  top: 105%;
  transform: translateX(-50%);
  width: 80px;
  height: 3px;
  background-color: #fecf8d;
}

@media screen and (max-width: 767px) {
  .show-title {
    padding-top: 100px;
  }
}

.show-wrapper {
  margin-top: 70px;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (max-width: 767px) {
  .show-wrapper {
    width: 90%;
    margin-top: 50px;
  }
}

.show_article-name-wrapper {
  display: flex;
  font-size: 30px;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (max-width: 767px) {
  .show_article-name-wrapper {
    font-size: 20px;
  }
}

.show_article-name-wrapper .show_article-name-title {
  margin-left: auto;
}

.show_article-name-wrapper .show_article-name {
  margin-right: auto;
}

.show_article-item-wrapper,
.show_article-item-wrapper_under {
  display: flex;
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;
  width: 500px;
}

@media screen and (max-width: 767px) {
  .show_article-item-wrapper,
  .show_article-item-wrapper_under {
    margin-left: 0;
    margin-right: 0;
    margin-top: 10px;
    width: 100%;
    font-size: 12px;
  }
}

.show_article-item-wrapper_under {
  margin-top: 15px;
}

@media screen and (max-width: 767px) {
  .show_article-item-wrapper_under {
    display: block;
  }
}

.show_article-category-wrapper {
  display: flex;
  margin-left: auto;
  margin-top: 20px;
}

.show_article-keyword-wrapper {
  display: flex;
  margin-right: auto;
  margin-top: 20px;
  margin-left: 30px;
}

@media screen and (max-width: 767px) {
  .show_article-keyword-wrapper {
    margin-left: 10px;
  }
}

.show_article-keyword-wrapper .sikiri {
  margin-right: 30px;
}

@media screen and (max-width: 767px) {
  .show_article-keyword-wrapper .sikiri {
    margin-right: 10px;
  }
}

.show_article-reaction-wrapper {
  display: flex;
  font-size: 18px;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (max-width: 767px) {
  .show_article-reaction-wrapper {
    font-size: 14px;
    margin-right: auto;
  }
}

.show_article-reaction-wrapper .show_article-reaction-title {
  margin-left: auto;
}

.show_article-reaction-wrapper .show_article-reaction {
  margin-right: auto;
  margin-left: 10px;
}

.show_article-img-wrapper {
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  width: 500px;
  height: auto;
}

@media screen and (max-width: 767px) {
  .show_article-img-wrapper {
    max-width: 300px;
  }
}

.show_article-img-wrapper img {
  width: 500px;
  height: auto;
}

@media screen and (max-width: 767px) {
  .show_article-img-wrapper img {
    width: 300px;
  }
}

.show_article-username-wrapper {
  display: flex;
  font-size: 18px;
  margin-left: auto;
  margin-right: 22%;
  margin-top: 10px;
  position: relative;
}

@media screen and (max-width: 767px) {
  .show_article-username-wrapper {
    font-size: 13px;
    margin-right: auto;
    width: 140px;
  }
}

.show_article-username-wrapper .show_article-username-title {
  margin-left: auto;
  border-bottom: #fecf8d 5px solid;
}

@media screen and (max-width: 767px) {
  .show_article-username-wrapper .show_article-username-title {
    margin-left: 0;
  }
}

.show_article-username-wrapper .show_article-username {
  margin-right: 0;
  border-bottom: #fecf8d 5px solid;
}

.show_article-memo-wrapper {
  font-size: 18px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
}

@media screen and (max-width: 767px) {
  .show_article-memo-wrapper {
    margin-top: 30px;
  }
}

.show_article-memo-wrapper .show_article-memo-title {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.show_article-memo-wrapper .show_article-memo {
  margin-top: 20px;
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  background-color: #FFFF;
  background-image: none;
  border: 1px solid rgba(0, 0, 0, 0.16);
  border-radius: 10px;
  color: inherit;
  font-family: inherit;
  font-size: 1em;
  height: 100px;
  padding: 0.4em 0.8em;
  width: 70%;
  max-width: 500px;
  height: 150px;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

@media screen and (max-width: 767px) {
  .show_article-memo-wrapper .show_article-memo {
    width: 70%;
    font-size: 14px;
  }
}

.show_article-memo-wrapper .show_article-memo:focus {
  border: 1px solid rgba(0, 0, 0, 0.32);
  box-shadow: none;
  outline: none;
}

.show_article-btn-wrapper {
  margin-top: 60px;
  display: flex;
  max-width: 300px;
  margin-left: auto;
  margin-right: auto;
}

.show_article-btn-wrapper .show_article-btn-back {
  padding: 15px;
  background-color: #fecf8d;
  color: #FFFF;
  border-radius: 10px;
  display: block;
  width: 100px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.show_article-btn-wrapper .show_article-btn-edit {
  padding: 15px;
  background-color: #fecf8d;
  color: #FFFF;
  border-radius: 10px;
  display: block;
  width: 100px;
  text-align: center;
  margin-right: auto;
  margin-left: auto;
}

.my_recipe-title {
  margin-top: -80px;
  margin-bottom: 80px;
}

@media screen and (max-width: 767px) {
  .my_recipe-title {
    margin-top: -30px;
  }
}

.release_item_wrapper {
  margin-top: 20px;
  width: auto;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (max-width: 767px) {
  .release_item_wrapper {
    font-size: 14px;
  }
}

.rating_item_wrapper {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (max-width: 767px) {
  .rating_item_wrapper {
    font-size: 14px;
    margin-top: 10px;
  }
}

